---
layout: default
title: Home
---
<div class="flex">
  <!-- <aside class="card">
    {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%m/%Y" %}
      {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <div class="collapse">{{ currentdate }}</div>
        <ul>
        {% assign date = currentdate %}
      {% endif %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
  </aside> -->

  <main>
    {% for post in paginator.posts %}
    <div class="post">
      {% if post.type == "pic" %}
      <div class="polaroid card">
        <img alt="{{ post.title }}" src="{{ post.imgSrc }}">
        <b>{{ post.title }}</b>
        <small>
          <span>{{ post.desc }}</span>
          <a href="https://www.google.com/maps/search/{{ post.location }}" target="_blank">
            {{ post.location }}</a>
          <span class="date">
            -
            {{ post.date | date: "%d/%m/%y" }}</span>
        </small>
      </div>
      {% else %}
      <div class="card">
        <h1 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>
        <span class="post-date">
          <a href="https://www.google.com/maps/search/{{ post.location }}" target="_blank">
            {{ post.location }}</a>
          -
          {{ post.date | date: "%d/%m/%y" }}
        </span>
        {{ post.content | truncatewords:75}}
        <a href="{{ post.url }}">weiterlesen</a>
      </div>
      {% endif %}
    </div>
    {% endfor %}

    <!-- ADS -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Blog Ad #1 -->
    <ins class="adsbygoogle" data-ad-client="ca-pub-4359425054597252" data-ad-format="auto" data-ad-slot="7660771721" style="display:block"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <div class="pagination">
      {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Älteres</a>
      {% else %}
      <span class="pagination-item older">Älteres</span>
      {% endif %}
      {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Neueres</a>
      {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Neueres</a>
      {% endif %}
      {% else %}
      <span class="pagination-item newer">Neueres</span>
      {% endif %}
    </div>
  </main>
</div>
