/***---...___ CSS RESET ___...---***/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/***---...___ CUSTOM STYLES ___...---***/

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200 1000;
  font-display: fallback;
  src: url(./assets/Nunito-variable-optimized.woff2) format("woff2");
}

:root {
  --color-primary: hsl(222deg 55% 50%);
  --color-on-primary: hsl(222deg, 24%, 98%);
  --color-text: hsl(222deg 22% 5%);
  --color-text-secondary: hsl(222deg 22% 50%);
  --font-weight-bold: 600;
  
  font-family: "Nunito", sans-serif;
  color: var(--color-text);
}

html,
body {
  height: 100%;
}

section {
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

h1 {
  font-size: calc(32 / 16 * 1rem);
  font-weight: var(--font-weight-bold);
  line-height: 1.15;
}

h2 {
  font-size: calc(16 / 16 * 1rem);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-secondary);
  text-transform: uppercase;
}

.skills {
  margin-block: calc(32 / 16 * 1rem);
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pill {
  border-radius: 100vh;
  background: var(--color-primary);
  color: var(--color-on-primary);
  font-size: calc(12 / 16 * 1rem);
  font-weight: var(--font-weight-bold);
  padding: 4px 8px;
  white-space: nowrap;
}

a {
  color: var(--color-primary);
}
