/* CUSTOM STYLES */

html, body {
  height: 100%;
  background-color: #fcfcfc;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.jumbotron {
  font-family: 'Voltaire', sans-serif;
  font-size: 150px;
  margin: 0px;
  padding: 0px;
  color: #d5d5d5;
	text-decoration: none;
}

.content {
	max-width: 500px;
	margin: 0 auto;
	font-size: 14px;
	color: #444;
}

.social-links {
  margin-top: 10px;
  margin-bottom: 100px;
}

.social-links a {
  text-decoration: none;
  color: #888;
  padding: 10px;
  font-size: 20px;
}

.social-links a:hover,
footer a:hover {
  color: #666;
}

header {
	width: 100%;
	text-align: center;
	padding-top: 100px;
}

footer {
	width: 100%;
	text-align: center;
  margin-top: 100px;
  font-size: small;
  color: #888;
}

footer a {
  text-decoration: none;
  color: #888;
  padding: 12px;
}

.feed {
  text-align: center;
  margin-bottom: 100px;
  font-style: italic;
}

.feed .post:before {
  content: "„ ";
  font-size: 24px;
}

.feed .post:after {
  content: " “";
  font-size: 24px;
}
