.centered {
	width: 100%;
	text-align: center;
}

.icon-social img {
	width: 50px;
	height: 50px;
	padding: 8px;
	display: inline;
}

header {
	height: 250px;
	margin-bottom: 50px;
	
	background-image: url("../../public/header.jpg");
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header h1 {
	color: #fff;
	font-weight: lighter;
	padding-top: 50px;
	margin: 0;
	font-size: 40px;
}

header h2 {
	color: #fff;
	font-size: 13px;
	letter-spacing: 3px;
	margin: 0px 0px 0px 0px;
	padding-bottom: 25px;
}

.post {
	text-align: justify;
}

.profile-pic {
	border: 4px solid #fff;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	margin: 0;
	position: absolute;
	right: 20px;
	top: 200px;
}

body::-webkit-scrollbar { 
    display: none; 
}

::body {
	-webkit-overflow-scrolling: touch;
}

.homelink:hover {
	text-decoration: none;
}

.adsbygoogle {
	margin-bottom: 40px;
}

footer {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-align: center;
	padding: 5px;
}

.polaroid {
	margin: 0 auto;
	text-align: center;
	max-width: 450px;
	padding: 15px;
	box-shadow: 0px 5px 10px #888;
	border: 1px #ddd;
}

.polaroid img {
	margin: 0px;
	border-radius: 0px;
	padding-bottom: 15px;
}

.polaroid .date {
	position: absolute;
	top: 23px;
	right: 23px;
	color: #4df541;
	font-family: monospace;
	font-size: 13px;
}

.post:nth-child(odd) .polaroid {
	-webkit-transform: rotate(2deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	    -ms-transform: rotate(2deg);  /* IE 9 */
	        transform: rotate(2deg);  /* Firefox 16+, IE 10+, Opera */
}

.post:nth-child(even) .polaroid {
	-webkit-transform: rotate(-3deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	    -ms-transform: rotate(-3deg);  /* IE 9 */
	        transform: rotate(-3deg);  /* Firefox 16+, IE 10+, Opera */
}