<header>
  <a class="jumbotron" href="{{ site.baseurl }}">AS</a>

  <div class="social-links">
    <a class="socicon-mail" href="mailto:{{ site.mail }}"></a>
    <a class="socicon-skype" href="skype:{{ site.skype }}?add" alt="{{ site.skype }}"></a>
    <a class="socicon-facebook" href="https://facebook.com/{{ site.facebook }}" target="_blank"></a>
    <a class="socicon-twitter" href="https://twitter.com/{{ site.twitter }}" target="_blank"></a>
    <a class="socicon-linkedin" href="https://xing.com/{{ site.xing }}?sc_o=mxb_p" target="_blank"></a>
    <a class="socicon-xing" href="https://linkedin.com/{{ site.linkedin }}" target="_blank"></a>
  </div>
</header>
