<!DOCTYPE html>
<html lang="de-de">

  {% include head.html %}

  <body class="theme-base-08">
      <header class="centered">
        <a class="homelink" href="{{ site.baseurl }}">
          <h1>{{ site.title }}</h1>
          <h2>{{ site.tagline }}</h2>
        </a>

        <div>
          <a class="icon-social" href="mailto:{{ site.mail }}"><img src="{{ site.baseurl }}public/icon-mail.png"></a>
          <a class="icon-social" href="https://facebook.com/{{ site.facebook }}" target="_blank"><img src="{{ site.baseurl }}public/icon-facebook.png"></a>
          <a class="icon-social" href="https://twitter.com/{{ site.twitter }}" target="_blank"><img src="{{ site.baseurl }}public/icon-twitter.png"></a>
          <a class="icon-social" href="https://linkedin.com/{{ site.linkedin }}" target="_blank"><img src="{{ site.baseurl }}public/icon-linkedin.png"></a>
        </div>

        <img class="profile-pic" src="{{ site.baseurl }}public/profile.jpg">
      </header>

      <div class="container content">
        {{ content }}
      </div>
  </body>
</html>
